<div class="wrapper">
  <div *ngIf="loading" class="loading-wrapper">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!loading">
    <!-- <div class="filterByCategory">
      <form action="/action_page.php" method="get">
        <label for="filter">Choose category from the list:</label>
        <input list="filterList" name="filterList" id="filterList" [ngModel]="filter">
        <datalist id="filterFull">
          <option value="filters.art">
          <option value="filters.cooking">
          <option value="filters.news">
          <option value="filters.music">
          <option value="filters.technology">
          <option value="filters.travels">
          <option value="filters.sport">
        </datalist>
        <input  (click)="getArticleByCategory(filterList)" type="submit">
      </form>
    </div> -->
    <div class="actions">
      <button *ngIf="isLoggedIn" mat-raised-button color="primary" class="create-thread"
              (click)="openNewThreadDialog()">
        New article
      </button>
    </div>
    <div *ngIf="threads.length > 0" class="thread-list">
      <div *ngFor="let thread of threads" class="thread">
        <div class="topic">
          <h3 class="header">
            <a [routerLink]="[thread.id]">{{thread.topic}}</a>
          </h3> 
        </div>
        <!-- <a >Category: {{thread.articleCategory}}</a> -->
        <p class="description">
          <span *ngIf="thread.author"> by <span class="username">{{thread.author.username}}</span> • </span>
          <span class="datetime">{{thread.creationDate | date:'MMM d, y, h:mm a'}}</span>
          <span *ngIf="thread.closed"> • Closed</span>
        </p>
        <div *ngIf="isUserModeratorOrAdmin" class="action-panel">
          <button class="open-menu-button" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="thread-action-menu">
            <button mat-menu-item *ngIf="!thread.closed" (click)="updateThreadStatus(thread, true)">
              <mat-icon>lock</mat-icon>
              <span>Close</span>
            </button>
            <button mat-menu-item *ngIf="thread.closed" (click)="updateThreadStatus(thread, false)">
              <mat-icon>lock_open</mat-icon>
              <span>Open</span>
            </button>
            <button mat-menu-item class="delete-menu-option" (click)="deleteThread(thread)">
              <mat-icon>delete_forever</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</div>
