.wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 16px;
}

.loading-wrapper {
  display: flex;
  justify-content: center;
}

.actions {
  display: flex;
  align-items: flex-end;
  margin-bottom: 12px;

  .create-thread {
    margin-left: auto;
    background-color: #a17015;
  }
}

.thread-list {
  border: 1px solid #ffa600;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);

  .thread {
    position: relative;
    border-bottom: 1px solid #a85507;
    padding: 10px 40px 10px 10px;

    &:last-child {
      border-bottom: none;
    }

    .header {
      margin-bottom: 5px;
      line-height: 22px;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        &, &:active, &:visited {
          color: #ad610a;
        }
      }
    }

    .description {
      margin-bottom: 0;
      font-size: 12px;
      color: #8a817c;

      .username {
        font-weight: 500;
        color: #ffa600;
      }
    }

    .action-panel {
      position: absolute;
      top: 0;
      right: 0;

      .open-menu-button {
        mat-icon {
          color: #974718;
        }
      }
    }
  }
}

.delete-menu-option {
  &, mat-icon {
    color: #C03221;
  }
}
