<div class="wrapper">
  <div *ngIf="loading" class="loading-wrapper">
    <mat-spinner></mat-spinner>
  </div>
  <div [hidden]="loading">
    <div class="tools">
      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput [(ngModel)]="filterValue" (input)="applyFilter()" (keydown.escape)="clearFilter()" maxlength="30">
        <button *ngIf="filterValue" matSuffix mat-icon-button (click)="clearFilter()">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="mat-elevation-z4">
      <table mat-table [dataSource]="dataSource" class="user-table" matSort>

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
          <td mat-cell *matCellDef="let user">{{user.username}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let user">{{user.email}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let user">{{user.name}}</td>
        </ng-container>

        <ng-container matColumnDef="registrationDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Joined</th>
          <td mat-cell *matCellDef="let user">{{user.registrationDate | date: 'MMM d, y, h:mm a'}}</td>
        </ng-container>

        <ng-container matColumnDef="roles">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Roles</th>
          <td mat-cell *matCellDef="let user">{{user.roles.join(', ')}}</td>
        </ng-container>

        <ng-container matColumnDef="options">
          <th class="options-header" mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let user">
            <button *ngIf="!isAdmin(user)" class="open-menu-button" mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" class="thread-action-menu">
              <button mat-menu-item *ngIf="!isModerator(user) && !isAdmin(user)" (click)="updateUserRole(user, 'Moderator')">
                <mat-icon>group_add</mat-icon>
                <span>Promote to Moderator</span>
              </button>
              <button mat-menu-item *ngIf="isModerator(user)" (click)="updateUserRole(user, 'User')">
                <mat-icon>group_remove</mat-icon>
                <span>Demote to User</span>
              </button>
              <button *ngIf="!isSelf(user)" mat-menu-item class="delete-menu-option" (click)="deleteUser(user)">
                <mat-icon>delete_forever</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="6">No data matching the filter '{{filterValue}}'</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 5]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
