<div class="container" *ngIf="isLoggedIn">

  <br> 
  <form #form="ngForm" (ngSubmit)="onSubmit()" *ngIf="userProfile" class="form">
      <div class="mb-3">
          <label class="form-label">Name :</label>
          <input type="text" class="form-control" minlength="3" maxlength="40" name="name" [(ngModel)]="userProfile.name" required>
        </div>
        <br/>
        <div class="mb-3">
          <label class="form-label">Email :</label>
          <input type="email" class="form-control"  name="email" [(ngModel)]="userProfile.email" required>
        </div>
        <br/>
        <div class="mb-3">
          <label class="form-label">User Name :</label>
          <input type="text" class="form-control" minlength="3" maxlength="40" name="userName" [(ngModel)]="userProfile.userName" required>
        </div>
        <br/>
         <div class="mb-3">
          <label class="form-label">Password :</label>
          <input type="password" class="form-control" minlength="8" name="password" [(ngModel)]="userProfile.password" (click)="hidePassword">
        </div> 
        <br/>
        <br/>
        <div class="button" >
          <button style="background-color: #ff9900; font-size: larger; border-radius: 4%;" type="submit"  mat-raised-button color="primary">Save</button>
        </div>

    </form> 
</div>