.container{
  display:flex;
  justify-content: center;
}
.form{
  border: 1px solid #ffa600;
  border-radius: 4px;
  background-color: #fff;
  width: 50%;
  height: 40%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.form-label{
  color: #B4886B;
  font-weight: bold;
  width: 130px;
  float: left;
  font-size: larger;
}
.form-control{
  color: #B4886B;
  font-weight: bold;
  width: 70%;
  font-size: larger;
}

.button{
  display: flex;
  justify-content: center;
}

.password{
  color: #B4886B;
  font-weight: bold;
  width: 70%;
  font-size: larger;
}
