html, body {
  height: 100%;
  background-color: #ff9900;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-snack-bar-container {
  color: #f3d2a0;

  &.success {
    background-color: #2A9134;
  }

  &.error {
    background-color: #C03221;
  }
}

mat-error {
  font-size: 12px;
}

// .footer{
//   .list{
//     display: flex;
//     grid-auto-columns: max-content;
//     gap: 10px;
//     list-style: none;
//     justify-content: center;
//     align-items: center;
//     flex-basis: 100px;
//     // margin-left: -5%;
//   }
 
// }

footer{
  text-align: center;
  background-color: darkgray;
  font-family: sans-serif;
}
