.navbar {
  background-color: #ffffff;
  height: 70px;
  margin-bottom: 50px;

  .container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 0 16px;

    .logo {
      cursor: default;
      user-select: none;
      display: flex;
      align-items: center;
       gap: 1px;
      position:100%;

      img {
        width: 90px;
        height: auto;
      }

      span {
        font-size: 38px;
        font-style: italic;
        margin: 0;
        color: #ff9900;
      }
    }

    .navigation {
      margin: 0 50px;

      ul {
        list-style-type: none;
        display: flex;
        gap: 20px;
        margin: 0;
        padding: 0;
      }

      a {
        text-decoration: none;
        color: #ff9900;
        font-size: 16px;
        font-weight: 500;
        display: block;
        padding: 5px;
        border-bottom: 2px solid transparent;
      }

      .active-link {
        border-bottom-color: #ff9900;
      }
    }
  }

  .unauthorized-panel {
    display: flex;
    gap: 10px;
    margin-left: auto;
    

    a {
      border-radius: 16px;
    }

    .sign-in {
      color: #1d3557;
      border-color: #ff9900;
    }

    .sign-up {
      color: #fbfdff;
      background-color: #ff9900;
    }

    .sign-up:hover {
      background-color: #ca7c06;
    }
  }

  .authorized-panel {
    margin-left: auto;

    .user-menu-button {
      border-radius: 16px;
      color:#A17015;

      mat-icon {
        margin-right: 6px;
      }
    }
  }
}
