<div class="navbar">
  <div class="container">
    <div class="logo">
       <img src="assets/logo.png" alt="logo">
      <span>Forum</span>
      <img src="assets/logo.png" alt="logo">
    </div>
    <nav class="navigation">
      <ul>
        <li>
          <a routerLink="/threads" routerLinkActive="active-link">
            Articles
          </a>
        </li>
        <li *ngIf="isLoggedIn">
          <a [routerLink]="['/usersProfile/' + id]" routerLinkActive="active-link">
            Profile
          </a>
        </li>
        <li *ngIf="isAdmin">
          <a routerLink="/users" routerLinkActive="active-link">
            Users
          </a>
        </li>
      </ul>
    </nav>
    <div *ngIf="!isLoggedIn" class="unauthorized-panel">
      <a routerLink="/sign-in" class="sign-in" mat-stroked-button>Sign In</a>
      <a routerLink="/sign-up" class="sign-up" mat-raised-button>Sign Up</a>
    </div>
    <div *ngIf="isLoggedIn" class="authorized-panel">
      <button class="user-menu-button" mat-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
        <span>{{userName}}</span>
      </button>
      <mat-menu class="user-menu" backdropClass="custom" #menu="matMenu">
        <button mat-menu-item (click)="signOut()">
          <mat-icon>logout</mat-icon>
          <span>Sign out</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
